<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>983647611482-b92b1r76ov640jg5ods188louab3mbod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983647611482-b92b1r76ov640jg5ods188louab3mbod</string>
	<key>API_KEY</key>
	<string>AIzaSyAtGh5M00-nPvFTtM2kr2i4s4Ae7AwRduo</string>
	<key>GCM_SENDER_ID</key>
	<string>983647611482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.br.scheduler</string>
	<key>PROJECT_ID</key>
	<string>scheduler-4b6a8</string>
	<key>STORAGE_BUCKET</key>
	<string>scheduler-4b6a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983647611482:ios:f385171778da235f</string>
	<key>DATABASE_URL</key>
	<string>https://scheduler-4b6a8.firebaseio.com</string>
</dict>
</plist>